.test {
  background-color: lightBlue;
  color: blue;
}
.comic {
  background-color: clear;
  color: black;
  font-family: courier;
}
#No {
  color: red;
}
#Yes {
  color: green;
}
img {
  background-color: orange;
  height: 200px;
  width: 200px;
  padding: 0 20px 5px 100px;
  margin: 5px 10px 15px 20px;
  border-radius: 32px;
}
